.ev-wrap .postbox .inside p {
  font-size: 1rem;
}

section {
  display:none;
}
section:first-of-type {
  display:block;
}
.no-js h2.nav-tab-wrapper {
  display:none;
}
.no-js section {
  border-top: 1px dashed #aaa;
  margin-top:22px;
  padding-top:22px;
}
.no-js section:first-child {
  margin:0px;
  padding:0px;
  border:0px;
}
.w-50 {
  width: 25%;
}
.w-33 {
  width: 25%;
}
.w-25 {
  width: 25%;
}
.w-17 {
  width: 17%;
}
.spacer {
  display: inline-block;
  width: 1.5em;
}
.float-right {
  float: right;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}

/* all this specificity is necessary to override default WP admin styles */
.ev-table td, .ev-table th {
  border-bottom: 1px solid #eee;
}
.ev-table td table td {
  padding: 0.25em 0.5em 0.25em 0 !important;
  border-bottom: 0px solid #eee;
}
.ev-host-table .text-align-right,
.ev-table .text-align-right {
  text-align: right;
}
.ev-host-table .v-top {
  vertical-align: top;
  padding-top: 2em;
}
.ev-host-table .save-author,
.ev_edit_author .delete-author {
  display: none;
}
.edit-author .open {
  display: none;
}
.wp-core-ui .ev-host-table button,
.wp-core-ui .ev-host-table a {
  margin-left: 0.75em;
}

.ev-host-table ul.category-box {
  background-color: white;
  padding: 0.5em 1em 0;
  max-height: 10em;
  max-width: 20em;
  overflow-y: scroll;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
  background: #fff;
}

@media screen and ( max-width: 782px ) {
  .ev-table .form-table td{
    display: table-cell !important;
  }
}

@media ( min-width: 45rem ){
  .w-50 {
    width: 50%;
  }
  .w-33 {
    width: 33%;
  }
  .w-25 {
    width: 25%;
  }
  .w-17 {
    width: 17%;
  }
  .description {
    display: inline-block;
    margin-left: 1em;
  }
}
